<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <h1>Maze Generator</h1>
        <form id="user" method="post" action="/">
            <label id="name" for="username">Username</label><input type="text" id="username" name="username"><button type="submit" id="username-button">⮞</button>
        </form>
        <script src="{{url_for('static', filename='app.js')}}"></script>
    </div>
</body>
</html>